@import url('./font.css');

/* Global Elements */
:root {
	--gutter-x: 15px;
	--gutter-y: 10px;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Fabrikat Mono', sans-serif;
	color: #ff0000;
}
html {
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	color: currentColor;
}
a:hover {
	font-weight: bold;
}
video {
	width: 100%;
}

/* Preloader */
.preloader {
	cursor: pointer;
	position: absolute;
	height: 100vh;
	width: 98vw;
	display: grid;
	place-items: center;
	transition: opacity 0.3s, transform 0.3s;
	z-index: 4;
}
.preloader__banner {
	height: 110%;
	width: 110%;
	position: fixed;
	top: 0;
	left: 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: background-image 1s;
}
.preloader__content {
	width: 40vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
}
.preloader__title {
	font-size: 20vw;
	font-weight: 700;
	letter-spacing: 2vw;
	white-space: nowrap;
}
.preloader__title:hover ~ .preloader__text {
	opacity: 1;
}
.preloader__text {
	opacity: 0;
	font-size: 1.5vw;
	letter-spacing: initial;
	margin-top: -4.5vw;
}

/* Navbar & Header */
.header {
	position: fixed;
	background-color: #fff;
	z-index: 3;
	width: 100vw;
}
.navbar {
	margin: 0 auto;
	max-width: 1200px;
	padding: 20px;
}
.navbar ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.navbar__title {
	letter-spacing: 0.2rem;
}

/* Main */
.main {
	position: relative;
	padding: 60px 0 30px 0;
}
.main__link {
	text-transform: uppercase;
	font-size: 20vw;
	line-height: 20vw;
	position: fixed;
	top: 50%;
	width: 100%;
	left: 0;
	transform: translateY(-50%);
	color: #000;
	color: transparent;
	pointer-events: none;
	-webkit-text-stroke: 0.3vw #ff0000;
	text-align: center;
}
.main__link:hover {
	font-weight: 400;
}

/* Left */
.main__left {
	position: fixed;
	width: 20vw;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 100px;
}
.main__left__content {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 150px;
	padding-left: 20px;
	padding-top: 90px;
}
.main__left__link {
	transform: rotate(-90deg) translateY(200%);
	transform-origin: left bottom;
}
.main__left__img {
	width: 50px;
	height: 60px;
	margin-right: 90px;
}

/* Right */
.main__right {
	position: fixed;
	width: 17vw;
	top: 0;
	left: 81%;
	z-index: 2;
}
.main__right__content {
	margin-top: 65%;
	line-height: 1.3;
	display: flex;
	flex-direction: column;
}
.main__right__link {
	text-decoration: underline;
}
.main__right__hashtag {
	align-self: flex-end;
	margin-right: 35px;
}
.main__right__hands {
	height: 60px;
	width: 60px;
	align-self: flex-end;
	transition: all 1s linear;
}
.main__right__hands img {
	height: 100%;
	width: 100%;
}

/* Center */
.main__center {
	display: grid;
	grid-template-columns: repeat(30, 1fr);
	row-gap: var(--gutter-x);
	column-gap: var(--gutter-y);
}
.main__center img {
	width: 100%;
	transition: filter 1s;
}
.main__thanks {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

/* Helper Classes */
.lazy-img {
	filter: blur(15px);
}
.transparent {
	opacity: 0;
}
.big {
	transform: scale(1.2);
}
.hidden {
	display: none;
}
.align-self-center {
	align-self: center;
}
.align-self-end {
	align-self: flex-end;
}
.align-self-start {
	align-self: flex-start;
}
